[submodule "hsm.cpp"]
	path = hsm.cpp
	url = git@github.com:stateforward/hsm.cpp.git
[submodule "hsm.cs"]
	path = hsm.cs
	url = git@github.com:stateforward/hsm.cs.git
[submodule "hsm.dart"]
	path = hsm.dart
	url = git@github.com:stateforward/hsm.dart.git
[submodule "hsm.go"]
	path = hsm.go
	url = git@github.com:stateforward/hsm.go.git
[submodule "hsm.js"]
	path = hsm.js
	url = git@github.com:stateforward/hsm.js.git
[submodule "hsm.py"]
	path = hsm.py
	url = git@github.com:stateforward/hsm.py.git
[submodule "hsm.rs"]
	path = hsm.rs
	url = git@github.com:stateforward/hsm.rs.git
[submodule "hsm.zig"]
	path = hsm.zig
	url = git@github.com:stateforward/hsm.zig.git
